Exercise: Working with Lists

1. Create a list called months that contains the names of all the months of the year.
2. Use the append method to add an extra element to the list that is "End of Year".
3. Use the remove method to delete this last element you added.
4. Using slicing, create a new list that contains only the months of the second quarter (April, May, and June).
5. Use the reverse method to reverse the order of the elements in the original list of months.
6. Find the appropriate method to sort the list of months in alphabetical order and apply it.
7. Use the index method to find the position of your birth month in the list sorted alphabetically.
   
**Extra**

* Create a list of lists, where each sublist contains the months of each quarter.
* Use a for loop to print each month of each quarter, formatting the output as follows: "The {month number} month of the year is {month name}".

In [10]:
months_list = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo','Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
months_list

['Enero',
 'Febrero',
 'Marzo',
 'Abril',
 'Mayo',
 'Junio',
 'Julio',
 'Agosto',
 'Septiembre',
 'Octubre',
 'Noviembre',
 'Diciembre']

In [13]:
months_list.append('End of Year')
months_list

['Enero',
 'Febrero',
 'Marzo',
 'Abril',
 'Mayo',
 'Junio',
 'Julio',
 'Agosto',
 'Septiembre',
 'Octubre',
 'Noviembre',
 'Diciembre',
 'End of Year',
 'End of Year',
 'End of Year']

In [17]:
months_list.remove('End of Year')

In [18]:
months_list

['Enero',
 'Febrero',
 'Marzo',
 'Abril',
 'Mayo',
 'Junio',
 'Julio',
 'Agosto',
 'Septiembre',
 'Octubre',
 'Noviembre',
 'Diciembre']

In [24]:
months_list1 = months_list[3:6]
months_list1

['Abril', 'Mayo', 'Junio']

In [25]:
months_list.reverse()

In [26]:
months_list

['Diciembre',
 'Noviembre',
 'Octubre',
 'Septiembre',
 'Agosto',
 'Julio',
 'Junio',
 'Mayo',
 'Abril',
 'Marzo',
 'Febrero',
 'Enero']

In [27]:
months_list.sort()

In [28]:
months_list

['Abril',
 'Agosto',
 'Diciembre',
 'Enero',
 'Febrero',
 'Julio',
 'Junio',
 'Marzo',
 'Mayo',
 'Noviembre',
 'Octubre',
 'Septiembre']

In [29]:
months_list.index("Diciembre")

2

In [30]:
month_quarter= [['Jan','Feb','Mar'],['Apr','May','Jun'],['Jul','Aug','Sep'],['Oct','Nov','Dec']]
month_quarter

[['Jan', 'Feb', 'Mar'],
 ['Apr', 'May', 'Jun'],
 ['Jul', 'Aug', 'Sep'],
 ['Oct', 'Nov', 'Dec']]

In [54]:
for i in range (0, len(month_quarter)):
        for j in range (0,len(month_quarter[i])):
            print ("The {} month of the year is {}".format(i*3+j+1,month_quarter[i][j]))

The 1 month of the year is Jan
The 2 month of the year is Feb
The 3 month of the year is Mar
The 4 month of the year is Apr
The 5 month of the year is May
The 6 month of the year is Jun
The 7 month of the year is Jul
The 8 month of the year is Aug
The 9 month of the year is Sep
The 10 month of the year is Oct
The 11 month of the year is Nov
The 12 month of the year is Dec

In [66]:
months_list.sort()

months_list

['Abril',
 'Agosto',
 'Diciembre',
 'Enero',
 'Febrero',
 'Julio',
 'Junio',
 'Marzo',
 'Mayo',
 'Noviembre',
 'Octubre',
 'Septiembre']

In [68]:
for i in range (0,len(months_list)):
    print (f"The {i+1} month of the year is {months_list[i]}")

The 1 month of the year is Abril
The 2 month of the year is Agosto
The 3 month of the year is Diciembre
The 4 month of the year is Enero
The 5 month of the year is Febrero
The 6 month of the year is Julio
The 7 month of the year is Junio
The 8 month of the year is Marzo
The 9 month of the year is Mayo
The 10 month of the year is Noviembre
The 11 month of the year is Octubre
The 12 month of the year is Septiembre